:root {
  --color-primary: slateblue;
  --color-red: #c93434;
  --color-gray-dark: #777;
  --color-gray: #c2c2c2;
  --color-gray_alpha_30: #c2c2c24d;
  --color-white_alpha_30: #ffffff80;
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
